body {
    width: 100%;
    font-family: Manrope;
}

section {
    display: block;
    margin-bottom: 150px;
}

section:nth-last-child(1) {
    margin-bottom: 0;
}

.container {
    margin: 0 auto;
    padding: 0 125px;
    width: 1400px;
}

h1 {
    margin-bottom: 30px; 
    width: 956px;
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.8px;
}

h2 {
    color: #000;
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.54px;
}

h3 {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.9px;
}

.interior-image {
    position: relative;
    width: 1150px;
    height: 410px;
    background-image: url('../resourses/Main_1.jpg');
    background-repeat: no-repeat;
}

.interior-text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    color: #fff;
    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
}

/*=================================*/

.about-title {
    color: #000;
    margin-bottom: 30px;
}

.about-text {
    width: 1048px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    margin-bottom: 30px;
}

.about-btn {
    display: block;
    background-color: #AD1818;
    border-radius: 5px;
    width: 255px;
    height: 67px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
    text-align: center;
    line-height: 67px; 
    cursor: pointer;
}

/*=================================*/

.project {
    margin-bottom: 90px;
}

.project-title {
    
    margin-bottom: 30px;
}

.project-more {
    display: block;
    margin-top: 15px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #AD1818;
    text-decoration: none;
}

.view-project {
    width: 100%;
    background-color: #FFF;
    display: block;
    border: 1px solid #AD1818;
    border-radius: 5px;
    color: #AD1818;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 153px;
    letter-spacing: -0.9px;
    
}

.view-project:hover {
    color: #FFF;
    background-color: #AD1818;
}

/*=================================*/

#services {
    min-width: 1400px;
    padding: 150px 0;
    background-color: #000;
}

.servises-title {
    color: #fff;
    margin-bottom: 34px;
}

.service {
    margin-bottom: 60px;
}

.service:nth-last-child(1) {
    margin-bottom: 0;
}

.service-text {
    margin-top: 15px;
    margin-left: 3px;
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
}