body {
    background-color: #FFF;
    width: 100%;
}
.container {
    background-color:#FFF;
    width: 1400px;
    padding: 0 125px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main_text {
    width: 956px;
    color: #000;
    font-family: Manrope;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.8px;
    margin-bottom: 30px;   
}

.main-image {
    position: relative;
    width: 1150px;
    height: 410px;
    background-image: url('../resourses/Main_1.jpg');
    background-repeat: no-repeat;
    margin-bottom: 150px; 
}

.main_text_about {
    position: absolute;
    left: 40px;
    top: 289px;
    color: #fff;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    width: 430px;
}
    
.link_about {
    color: #000;
    display: block;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.54px;
    margin-bottom: 30px;   
}

.about_text {
    width: 1048px;
    font-family: Manrope;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    margin-bottom: 30px;
}

.services {
    display: block;
    background-color: #AD1818;
    border-radius: 5px;
    width: 255px;
    height: 67px;
    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
    text-align: center;
    line-height: 67px;
}