* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #F5F5F5;
    width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main {
    width: 1150px;
    height: 560px;
    background-image: url('../resourses/Main.jpg');
    background-repeat: no-repeat;
    background-size: 1150px 410px;
    background-position: bottom;
    margin-bottom: 150px; 
}

.main_text {
    color: #000;
    font-family: Manrope;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -1.8px;
    margin-bottom: 319px;   
}
.main_text_about {
    color: #fff;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    width: 430px;
    height: 81px;
    margin-left: 40px;  
}
    
.link_about {
    color: #000;
    display: block;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.54px;
    margin-bottom: 30px;   
}

.about_text {
    height:366px;
    width: 1048px;
    font-family: Manrope;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    margin-bottom: 30px;
}

.services {
    display: block;
    background-color: #AD1818;
    border-radius: 5px;
    width: 255px;
    height: 67px;
    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration: none;
    text-align: center;
    line-height: 67px;
}

